@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  color: #fff;
  padding: 40px 100px;
  z-index: 1;
}

nav.sticky {
  padding: 5px 100px;
  background: rgb(220, 112, 237);
}

nav .brand {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}

nav ul li {
  position: relative;
  list-style: none;
}

nav ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
}


nav.sticky .brand,
nav.sticky ul li a {
  color: #000;
}

@media screen and (max-width: 992px) {
  nav .brand {
    position: absolute;
    left: 10px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  nav {
    height: 60px;
  }
  nav ul {
    position: absolute;
    top: 60px;
    left: 0;
    background: #fff;
    width: calc(100% - 20px);
    margin: 10px;
    display: none;
    border-radius: 5px;
  }
  nav ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  nav .menu {
    width: 50px;
    height: 50px;
    transition: 0.6s;
    position: absolute;
    right: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  nav .menu .bar {
    position: absolute;
    width: 40px;
    height: 7px;
    background: #000;
    border-radius: 4px;
    transition: 0.5s;
  }

  nav .menu .bar-1 {
    transform: translateY(-15px);
  }

  nav .menu .bar-3 {
    transform: translateY(-15px);
  }

  nav .menu .bar-2 {
    width: 30px;
    left: 5px;
  }

  nav .menu .bar-3 {
    transform: translateY(15px);
    width: 20px;
    left: 5px;
  }

  nav.sticky .menu {
    background: #000;
  }
  nav.sticky .menu .bar {
    background: rgb(255, 255, 255);
  }

  .menu.active .bar-1 {
    width: 40px;
    transform: translateY(0px) rotate(45deg);
  }

  .menu.active .bar-2 {
    transform: translateX(100px);
  }

  .menu.active .bar-3 {
    width: 40px;
    transform: translateY(0px) rotate(315deg);
  }

  nav.active ul {
    display: block;
  }

  nav.active ul li a {
    color: #000;
  }
}

/*  */
.rii_spanduk img {
    width: 100%;
}
/*  */
.wrapper img{
    width: 100%;
}
.wrapper {
    width: 100%;
}
.home{
    display: flex;
    margin: auto;
}
/*  */
.logo1 img {
  width: 94%;
}
.kolom{
  width: 60%;
  padding-top:10%;
}
.tbl-pink {
  background: #fc5185;
  border-radius: 20px;
  margin-top: 20px;
  padding: 1%;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none
  
}
.tbl-pink:hover {
  background: #1e5aa3;
  text-decoration: none
}
/*  */
.tengah {
  text-align: center;
  width: 100%;
}

.tutor-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  
}
.kartu-tutor {
    width: 20%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 9px 13px 12px 0px rgba(179,175,175,0.75);
-webkit-box-shadow: 9px 13px 12px 0px rgba(179,175,175,0.75);
-moz-box-shadow: 9px 13px 12px 0px rgba(179,175,175,0.75);

}

.kartu-tutor img {
    width: 80%;
    border-radius: 30px;
    transition: transform .5s;
}
.kartu-tutor img:hover{
    transform: scale(0.96);
    transition: 0.5s;
}
.kartu-tutor p {
  font-family: 'comic sans ms';
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  color: #364f6b;
}

.partner-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.kartu-partner {
  width: 20%;
  margin: 0 auto;
}
.kartu-partner img {
  width: 150px;
  border-radius: 50%;
}
/*  */
/* brand */
.col-5 {
  width: 171.5px;
  border-bottom: .1rem solid #999;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
}

.col-5 img:hover{
  background-color:red;
}

.row {
  display: flex;
  justify-content: space-around;
  padding: 40px 100px;
}
/*  */
/* footer */
footer{
  bottom:0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.781);
  color: white;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px 0;
}
.box h2{
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
position: absolute;
content:'';
top: -10px;
height:2px;
width:100%;
background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content:'';
  top: -10px;
  height:2px;
  width:15%;
  background:blueviolet
 }
.box .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding:0 20px;
}
.left .content .social a span{
height: 40px;
width: 40px;
background: #1a1a1a;
line-height: 40px;
text-align: center;
font-size: 18px;
border-radius: 5px;
transition: 0.3s;
}
.left .content .social a span:hover{
background:pink
}
.center .content .fas{
  font-size:20px;
  background:#1a1a1a;
  height:45px;
  width:45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background:pink
}
.center .content .text1{
  font-size:18px;
  font-weight: 400;
  padding-left: 10px;
}
.center .content .phone{
margin-top: 10px;
}
.center .content .email{
  margin-top: 10px;
  }
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size:18px;
  background: #1515155b;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color:#bf34db;
}
.right form input .btn_1{
  margin-top: 10px;
}
.right form .btn_1 button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  background: blueviolet;
  font-size:20px;
  font-weight: 500px;
  cursor: pointer;
  transition: .03s;
}
.right form .btn_1 button:hover{
  background:#0e0e0e3c
}
.bottom center{
  padding: 5px;
  font-size: 15px;
  background: #151515;
}
.bottom center span{
  color: white;
  
}
.bottom center a{
  color: blueviolet;
  text-decoration: none;
}
.bottom center a:hover{
text-decoration: underline;
}
@media screen and (max-width: 767px){
  footer{
      position: relative;
      bottom: 0px;
  }
  .main-content{
      flex-wrap: wrap;
      flex-direction: column;
  }
 
  .main-content .box{
      margin: 5px 0;
  }
}
/*  */

/*  */
/* html ticket */
.kolom3 {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px){
  .kolom3 {
    flex-direction: column;
  }
}
  

.kolom2{
  width: 60%;
  padding-top:8%;
  padding-left: 5%;
}
.form1{
  display: flex;
}
a.tbl-biru{
  background: #fc5185;
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none
}
.tbl-biru:hover{
  background:#1e5aa3
}